<div class = "app-header">
  <div id="title">
    Badanie wydajności aplikacji webowych przy zastosowaniu Angular
  </div>
  <div id="links">
    <!-- <a routerLink="/chat" [class.activated]="currentUrl == '/home2'"> -->
    <a routerLink="/chat" title="Chat">
      &#9993;
    </a>
    <a routerLink="" title="Home">
      &#9750;
    </a>
  </div>
</div>


<!-- <div id="home">
    <a routerLink="/home2" [class.activated]="currentUrl == '/home2'">
      <i class="material-icons">home</i>
    </a>


to zrob z jakims ng ifem, ze jak jest n chacie, to zmienia sie na strone glowna przelacznik
i ikonka, a jak na glownej, to na chat


</div> -->